:root{
 --light-grey:#7a7a7a;
 --black:#222;
 --white:#fff;
 --pink:rgba(255,192,203,1);
 --blue:rgba(167,229,227,0.6);
}
body {
  font-family:Liberation Mono,monospace;
  font-size: 100%;
  background-color: var(--white);
  color: #111;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 5% 10%;
  border: thin solid gray;
  box-shadow: 3px 3px 1px var(--pink);
  border-radius: 5px;
  display: block;
  text-align:center;
  
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a {
  color: var(--black) !important;
  border: 3px solid var(--pink);
  text-shadow:3px 3px 3px var(--light-grey);
  padding:5px;
  box-shadow: 3px 3px 3px pink;
  
}
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}

/*Navigation*/
.navigation a   { color: var(--black)text-decoration: none;  font-size: 13px; padding: 10px;}
.navigation ol  { margin: 0; padding: 0;}
.navigation li  { display: inline; padding: 0; content:none;}
.navigation {
                float: left; background-color: var(--pink); 
                padding-top:0;
                text-align: center;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 100%;
                height: 26px;
              }

/*Photos Grid*/
div.grid {
  display: flex;
  flex-wrap: wrap;
  --height: 450; /* Minimal row height */
  --ratio: 1; /* Default aspect ratio for photos that are not loaded yet */
}
/*Each photo in photo grid*/
div.item {
  flex: calc(var(--height) / var(--ratio));
  min-width: calc(var(--height) / var(--ratio) * 1px);
  margin: 2px;
  font-size: 0;
  /*Crop and Center*/
  width: 300px;
  height: 300px;
  padding: 8px;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

div.item img {
  width: 99%;
  border-radius: 2px;
}

div.item img:hover {
  width: 100%;
  box-shadow: 3px 3px 3px var(--pink);
  border-radius: 2px;
}

div.placeholder {
  flex-grow: 99999;
}

div.pagination {
  width: 100%;
}

div.entry-content {
  width: 80%;
}

footer.pelican {
  color: var(--black) !important;
  font-size: 70%;
  padding:5px;
}

div.entry-content {
 width:90%;
 margin:auto;

}

div.entry-content img {
   width: 1000px;
   margin: auto;

}

